/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

.intro span {
	display: inline-block;
	animation: hand 1s infinite alternate ease-in;
	transform-origin: center;
}

@keyframes hand {
	from {
		rotate: -10deg;
	}
	to {
		rotate: 10deg;
	}
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
	transition: scale 0.3s ease-in-out;
}

.icons-social i:hover {
	scale: 1.05;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;
	;
	width: 2.65rem;
	height: 2.65rem;
}

.cv {
	position: relative;
	top: 20px;
	margin: 0 auto;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	/* width: 200px; */
}

.cv a {
	color: white;
	text-decoration: none;
	margin-right: 50px;
	font-size: 2.2rem;
	display: inline-block;
}

.colors {
	position: absolute;
	bottom: 15px;
	right: 15px;
	display: flex;
	gap: 10px;
}

.colors div {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transform: .3s ease-in-out;
	cursor: pointer;
	background-color: var(--data-color);
	border: 1px solid black;
}

.colors div:hover {
	scale: 1.05;
}